**__pycache__**
**build**
**egg-info**
**dist**
data/
datasets/
*.tgz
*.tar
*.tar.gz
*.pyc
venv/
*.idea/
*.so
*.yaml
*.pth
*.zip
*.bin
.vscode/
debug/
work_dirs/
vis_jobs/
node_modules/
backend/target/
*.jar
*.class
reference/
clip_preview/
docs/
ppt/
